<template>
 
    <RadSideDrawer>
      <StackLayout ~drawerContent />
      <StackLayout ~mainContent />
    </RadSideDrawer>

</template>

<script>
  export default {
    data() {
      return {
        surprise: false,
      };
    },
  };
</script>

<style scoped>
  .hello-world {
    margin: 20;
  }
  Label {
    color: red;
  }
</style>
